* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.register-container {
  height: 100vh;
  background: url("../assets/gym.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.register-box {
  width: 50%;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow:0px 0px 10px 10px gray;
  background: rgba(0, 0, 0, 0.75);
}

.register-box h2 {
  margin-bottom: 5px;
  font-size: 28px;
}

.register-box p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.register-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.register-box button {
  width: 100%;
  padding: 12px;
  background: #ff4d00;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

.register-box button:hover {
  background: #ff6a2c;
}

.register-box span {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #ccc;
  cursor: pointer;
}

.register-box span:hover {
  color: #fff;
}
